<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/API/Detecting_device_orientation -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div style="margin-left: 2em">

<p> Build number: 21</p>
<h1> Your acceleration: </h1>

<h3>x: {{xAccBS | async}} m/s^2</h3>
<h3>y: {{yAccBS | async}} m/s^2</h3>
<h3>Aggregate: {{totalAccBS | async}} m/s^2</h3>

<h1 style="color:darkgreen; margin-top:1em;">Bus stops left: {{stopsLeftBS | async}}</h1>

</div>